<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %> Offered:</h1>
      <div>
        <h3>Current Services:</h3>
        <ul><h5>
          <li>
            <i class="fas fa-question-circle"> </i> General IT Consulting
          </li>
          <li>
            <i class="fas fa-headset"></i> Tech Support On-Demand
          </li>
          <li>
            <i class="fas fa-archive"></i> Disaster-Recovery and Business Continuity Solutions
          </li>
          <li>
            <i class="fas fa-tasks"></i> Risk and Audit Readiness Assessments
          </li>
        </h5></ul>
      </div>
      <div>
        <h3>Coming Soon!</h3>
        <ul><h5>
          <li>
            <i class="fas fa-code"></i> Custom Software Solutions
          </li>
        </h5></ul>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>